* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

form input::placeholder,
form textarea::placeholder {
    padding-left: 5px;
}


header {
    width: 80%;
    height: 85px;
    margin: 35px auto 0 auto;
}

#logo img {
    width: 8%;
    height: auto;
}

.form-container {}


.form-container .register,
.login {
    width: 35%;
    margin: 5% auto 0 auto;
}

.form-container .register h2,
.login h2 {
    margin-bottom: 30px;
}


.form-container .register form {}


.form-container .register form label {
    margin-bottom: 10px;
    display: block;

}

.form-container .register form select {
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    color: #0e0e0e;

}

.form-container .register form input,
.login form input {
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
}


.form-container .register form input {}


.form-container .register form input[type='submit'],
.login form input[type='submit'] {
    width: 100%;
    height: 60px;
}

.form-footer-container {
    width: 50%;
    margin: 0 auto;
}

.form-footer-container span {
    width: 45%;
    text-align: center;
    display: inline;
}


.form-container {
    width: 35%;
    margin: 3% auto 0 auto;
}

.form-container h2 {
    font: normal 900 1.7em Avenir, sans-serif;
    margin-bottom: 30px;
}


.form-container form input {
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
}


.form-container form textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
}

.form-container form input[type='submit'] {
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.form-container form select {
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    color: #0e0e0e;

}

.form-container form label {
    margin-bottom: 10px;
    display: block;
}